﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="EspacioDeportivo.aspx.cs" Inherits="GYM.Web.WebForm5" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Espacio Deportivo</h1>

</asp:Content>
